/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
html, body {

    height: 100%;
    width: 100%;
    
}

.container {

    background: #eef2ff;
    
    height: 100%;
    width: 100%;
    
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
    border: 1px solid #000;
}
.wrap {
    background: url(img/Back_800.jpg) no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.back_main {
    background: url(img/back_green_800.png) no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    
    -webkit-transform: translateY(100%);
    
        -ms-transform: translateY(100%);
    
            transform: translateY(100%);

}
.back_main.active_min {
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transform: translateY(55.5%);
        -ms-transform: translateY(55.5%);
            transform: translateY(55.5%);


}
.back_main.active_full {
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transform: translateY(-30%);
        -ms-transform: translateY(-30%);
            transform: translateY(-30%);
    height: 150%;
    opacity: 1;


}


.logo {
    background: url(img/Logo.svg) 0% 50% no-repeat;
    background-size: contain;
    height: 9%;
    width: 54.8%;
    position: absolute;
    top: 5.2%;
    left: 8%;
    opacity: 1;
    
}

.logo.hide {
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    opacity: 0;
}
.O_ {
    background: url(img/O_.svg) 50% 50% no-repeat;
    background-size: contain;
    height: 3%;
    width: 5.5%;
    position: absolute;
    right: 8.4%;
    top: 5.2%;
}


.text_1 {
    background: url(img/Text_1_1200.svg) 0% 50% no-repeat;
    background-size: contain;
    height: 20%;
    width: 81.5%;
    position: absolute;
    bottom: 1%;
    left: 7.5%;
    margin: auto;
     opacity: 0;
    
    -webkit-transform: translateY(20%);
    
        -ms-transform: translateY(20%);
    
            transform: translateY(20%);
}
.text_1.active {
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
}
.text_1.hide {
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    opacity: 0;
}

.mobile_1 {
    background: url(img/Mobile_skin_1.png) 50% 50% no-repeat;
    background-size: contain;
    height: 78%;
    width: 89%;
    position: absolute;
    bottom: -19%;
    left: 6%;
    opacity: 0;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
}

.mobile_1.active {
    -webkit-transition: .8s;
    -o-transition: .8s;
    transition: .8s;
     -webkit-transform: translateX(0%);
         -ms-transform: translateX(0%);
             transform: translateX(0%);
     opacity: 1;

}
.mobile_1.hide{
    -webkit-transition: .8s;
    -o-transition: .8s;
    transition: .8s;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
}

.text_2 {
    background: url(img/Text_2.svg) 0% 50% no-repeat;
    background-size: contain;
    height: 19%;
    width: 83%;
    position: absolute;
    top: 18.7%;
    left: 7%;
    margin: auto;
     opacity: 0;
  
    -webkit-transform: translateX(-100%);
  
        -ms-transform: translateX(-100%);
  
            transform: translateX(-100%);
}
.text_2.active {
      -webkit-transition: .8s;
      -o-transition: .8s;
      transition: .8s;
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
}
.text_2.hide {
    -webkit-transform: translate(100%);
        -ms-transform: translate(100%);
            transform: translate(100%);
    -webkit-transition: .8s;
    -o-transition: .8s;
    transition: .8s;
    opacity: 0;
}
.mobile_2 {
    background: url(img/Mobile_skin_2.png) 50% 50% no-repeat;
    background-size: contain;
    height: 78%;
    width: 89%;
    position: absolute;
    bottom: -19%;
    left: 6%;
    opacity: 0;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
}

.mobile_2.active {
    -webkit-transition: .8s;
    -o-transition: .8s;
    transition: .8s;
     -webkit-transform: translateX(0%);
         -ms-transform: translateX(0%);
             transform: translateX(0%);
     opacity: 1;

}
.mobile_2.hide{
    -webkit-transition: .8s;
    -o-transition: .8s;
    transition: .8s;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
}

.text_3 {
    background: url(img/Text_3.svg) 0% 50% no-repeat;
    background-size: contain;
    height: 19%;
    width: 74.5%;
    position: absolute;
    top: 18.9%;
    left: 7%;
    margin: auto;
     opacity: 0;
  
    -webkit-transform: translateX(-100%);
  
        -ms-transform: translateX(-100%);
  
            transform: translateX(-100%);
}
.text_3.active {
      -webkit-transition: .8s;
      -o-transition: .8s;
      transition: .8s;
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
}
.text_3.hide {
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: .8s;
    -o-transition: .8s;
    transition: .8s;
    opacity: 0;
}

.sogl {
    background: url(img/Sogl_mob.png) 0% 0% no-repeat;
    background-size: contain;
    height: 77.5%;
    width: 87.5%;
    position: absolute;
    left: 7%;
    top: 18%;
    opacity: 0;
}

.sogl.active {
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    opacity: 1;

}
.sogl.hide {
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    opacity: 0;
}

